body {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: #f8f6f7;
  color: #333;
}

header {
  background: #fff;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}